{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Japanese Random Kana{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <!-- O conteúdo específico de cada página será injetado aqui --> 
    <header>
        <img class="torii" src="{% static 'images/torii.png' %}" alt="icone">
        <h1>JapaneseLearner</h1>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
